/*NAV HEADER*/
.menu_link{
    font-weight: 600;
     text-underline-offset: 5px;
    text-decoration-color: transparent;
    text-decoration-thickness: 0.5px;
    transition: text-decoration-color 0.3s ease-in-out, text-decoration-thickness 0.3s ease-in-out;
}
.menu_link:hover{
    color: var(--backgroudColor);
    text-decoration: underline;
    text-decoration-thickness: 2px;
}
.header_maincontainer{
    background-color: var(--white-color);
}
.main_logo {
    height: 95px;
}


/*HERO SECTION*/
.hero-section {
     margin-top: 100px;
    color: white;
    padding: 80px 0;
    font-family:var(--textFont-titulos);
  }

  .hero-title {
    font-size: 3rem;
    font-weight: 600;
  }

  .hero-subtitle {
    font-size: 1.1rem;
    font-weight: 300;
    margin-top: 15px;
  }

  .hero-btn {
    margin-top: 15px;
    background-color: var(--backgroudColor);
    border: solid 1px transparent;
    color: var(--white-color);
    font-weight: 600;
    padding: 12px 24px;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
  }

  .hero-btn:hover {
    background-color: #ffffff;
    color: var(--backgroudColor);
    border: solid 0.5px var(--backgroudColor);
  }

  .hero-img {
    max-width: 100%;
    border-radius: 10px;
  }

  @media (max-width: 768px) {
    .hero-title {
      font-size: 1.8rem;
    }
  }
  
/*NOSOTROS*/
#nosotros{
  margin-bottom: 150px;
}
#nosotros>div>div>h2{
  font-family: var(--textFont-titulos);
  font-weight: 600;
  color: var(--white-color);
}
#nosotros>div>p{
  font-family: var(--textFont-textos);
  font-weight: 600;
  font-size: 25px;
  color: var(--white-color);
}
/*FORMULARIO CONTACTO*/
.form-section {
    font-family: 'Fredoka', sans-serif;
    padding: 40px 20px;
    background-color: #fff;
    margin-bottom: 65px;
  }
.form-tittle{
  color: var(--backgroudColor);
}
.form-imput{
  border-color: var(--backgroudColor);
}
  .form-control,
  .form-select {
    border-radius: 10px;
    border: 2px solid var(--backgroudColor);
  }

  .form-check-label a {
    color: #0072ff;
    text-decoration: underline;
  }

  .form-check-input {
    border: 1px solid #ccc;
  }

  .form-btn {
    border: 2px solid #0072ff;
    background: transparent;
    color: #0072ff;
    border-radius: 30px;
    padding: 10px 25px;
    transition: 0.3s;
  }

  .form-btn:hover {
    background: #0072ff;
    color: white;
  }

  .form-radio-group label {
    margin-right: 15px;
  }

.main_tittle{
    color: var(--white-color);
}
.wallet-icon{
    float: center;
}

/*MODAL HEADER*/
.modal-header{
  flex-direction: column-reverse;
  border-bottom: none;
}
.modal-header>h5{
  color:var(--backgroudColor);
  font-size: 2rem;
}
/* MODAL BODY */
.modal-button{
  background-color: var(--backgroudColor);
  border-color: var(--backgroudColor);
  font-weight: 600;
}
.modal-button:hover{
  background-color: var(--white-color);
  color: var(--backgroudColor);
  border-color: var(--backgroudColor);
}
/*FOOTER*/

 .footer-top {
    background-color: white;
    border-radius: 1rem;
    padding: 40px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08);
    margin-top: -50px;
    position: relative;
    z-index: 1;
  }

  .footer-top h4 {
    font-family: 'Fredoka', sans-serif;
    font-weight: 600;
    color: var(--backgroudColor);
  }

  .footer-cta-btn {
    background-color: #0056d2;
    border: none;
    color: white;
    padding: 12px 25px;
    border-radius: 30px;
    font-weight: 600;
  }

  .main-footer {
    color: white;
    padding: 80px 0 40px;
    font-size: 0.9rem;
  }

  .main-footer a {
    color: white;
    text-decoration: none;
  }

  .main-footer a:hover {
    text-decoration: underline;
  }

  .footer-social i {
    font-size: 1.2rem;
    margin-right: 15px;
  }
.footer-logo {
    font-size: 1.5rem;
    font-weight: 600;
    color: #003366;
  }
  .logo-footer{
    width: 375px;
    height: auto;
  }
  /*WHATSAPP BUTTON*/
    .whatsapp-float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 20px;
    right: 20px;
    background-color: #25d366;
    color: white;
    border-radius: 50%;
    text-align: center;
    font-size: 35px;
    z-index: 1000;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
    text-decoration: none;
  }
  .whatsapp-float:hover {
    transform: scale(1.1);
    color: white;
    text-decoration: none;
  }